*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Inter, sans-serif;
}

body{
  background:
  radial-gradient(
    circle at top,
    #2f2a67 0%,
    #081120 45%,
    #050816 100%
  );
  background-attachment:fixed;
  color:white;
  min-height:100vh;
  overflow-x:hidden;
}
html{
  scroll-behavior:smooth;
}

.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}

nav{
  margin-top:20px;
  border:1px solid rgba(255,255,255,.08);
  background:rgba(255,255,255,.03);
  backdrop-filter: blur(10px);
  border-radius:50px;
  padding:14px 24px;
}

.nav-container{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.logo{
  display:flex;
  align-items:center;
  gap:12px;
  font-size:clamp(18px, 2vw, 30px);
  font-size:clamp(18px, 2vw, 30px);
  font-weight:bold;
}

.logo-icon{
  width:42px;
  height:42px;
  border-radius:50%;
  background:#a78bfa;
  display:flex;
  align-items:center;
  justify-content:center;
}

.brain-icon{
  width:22px;
  height:22px;
  fill:none;
  stroke:#111;
  stroke-width:1.8;
  stroke-linecap:round;
  stroke-linejoin:round;
}

.logo span{
  color:#b58cff;
}

.menu{
  display:flex;
  gap:40px;
}

.menu a{
  text-decoration:none;
  color:#b8b8c7;
  font-size:18px;
  transition:.3s;
}

.menu a:hover{
  color:white;
}

.nav-btn{
  background:#a78bfa;
  color:#111;
  border:none;
  padding:16px 28px;
  border-radius:40px;
  font-weight:bold;
  font-size:18px;
  cursor:pointer;
  transition:.3s;
}

.nav-btn:hover{
  transform:translateY(-2px);
  box-shadow:0 0 25px rgba(167,139,250,.5);
}

.hero{
  position:relative;
  text-align:center;
  padding:120px 0 80px;
}

.badge{
  display:inline-flex;
  align-items:center;
  gap:10px;
  padding:10px 20px;
  border-radius:40px;
  border:1px solid rgba(255,255,255,.08);
  background:rgba(255,255,255,.03);
  color:#b7b4d5;
  margin-bottom:40px;
}

.hero h1{
  font-size:84px;
  line-height:1.05;
  max-width:1000px;
  margin:auto;
  font-weight:800;
  letter-spacing:-3px;
}

.hero h1 span{
  color:#b58cff;
}

#typing-word{
  display:inline;
  white-space:nowrap;
  color:#b58cff;
}

.cursor{
  color:#b58cff;
  font-weight:100;
  font-size:.85em;
  animation:blink 1s steps(1) infinite;
}

@keyframes blink{
  50%{
    opacity:0;
  }
}

.descricao{
  max-width:850px;
  margin:40px auto;
  color:#b7b7c7;
  font-size:34px;
  line-height:1.6;
}

.buttons{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:50px;
  flex-wrap:wrap;
}

.primario-btn,
.secundario-btn{
  display:flex;
  align-items:center;
  justify-content:center;
  border:none;
  border-radius:50px;
  font-size:26px;
  font-weight:bold;
  cursor:pointer;
  transition:.3s;
}

.primario-btn{
  background:#a78bfa;
  color:#111;
  padding:22px 42px;
}

.primario-btn:hover{
  transform:translateY(-3px);
  box-shadow:0 0 35px rgba(167,139,250,.55);
}

.secundario-btn{
  background:rgba(255,255,255,.05);
  border:1px solid rgba(255,255,255,.08);
  color:white;
  padding:22px 42px;
}

.secundario-btn:hover{
  background:rgba(255,255,255,.09);
}

.seta-icon{
  margin-left:10px;
}

.play-icon{
  margin-right:10px;
}

.stats{
  margin-top:70px;
  display:flex;
  justify-content:center;
  gap:80px;
  flex-wrap:wrap;
}

.stat h2{
  font-size:38px;
  margin-bottom:8px;
}

.stat p{
  color:#9d9db0;
  font-size:22px;
}

.grid{
  position:absolute;
  inset:0;
  background-image:
  linear-gradient(rgba(255,255,255,.05) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.05) 1px, transparent 1px);
  background-size:60px 60px;
  mask-image: radial-gradient(circle at center, black 40%, transparent 85%);
  z-index:-1;
}

.dashboard-section{
  min-height:100vh;
  width:100%;
  background:transparent;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:80px 0;
  overflow:hidden;
}

.dashboard-container{
  width:92%;
  max-width:1400px;
  background:rgba(18,24,45,0.75);
  border:1px solid rgba(255,255,255,0.08);
  border-radius:30px;
  padding:30px;
  backdrop-filter:blur(20px);
  position:relative;
  box-shadow:
  0 0 40px rgba(0,0,0,0.4);
}

.top-bar{
  display:grid;
  grid-template-columns:1fr auto 1fr;
  align-items:center;
  margin-bottom:40px;
}

.url{
  justify-self:center;
  color:#8b93b0;
  font-size:14px;
  letter-spacing:1px;
}

.sequencia{
  justify-self:end;
}

.dots{
  display:flex;
  gap:10px;
}

.dots span{
  width:12px;
  height:12px;
  border-radius:50%;
}

.dots span:nth-child(1){
  background:#ff5f57;
}

.dots span:nth-child(2){
  background:#ffbd2e;
}

.dots span:nth-child(3){
  background:#28c840;
}

.hero-text{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  margin-bottom:35px;
}

.hero-text p{
  color:#9ea6c3;
  font-size:15px;
  margin-bottom:8px;
}

.hero-text h1{
  color:white;
  font-size:30px;
  font-weight:600;
  line-height:1.2;
  letter-spacing:-1px;
  margin:0;
  animation:
  aparecerFrase 1s ease,
  glowTexto 3s ease-in-out infinite;
}

.stats-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
  margin-bottom:25px;
}

.card{
  background:#111a33;
  border:1px solid rgba(255,255,255,0.06);
  border-radius:25px;
  padding:28px;
  color:white;
  position:relative;
  overflow:hidden;
  transition:
  transform .4s ease,
  box-shadow .4s ease,
  border .4s ease;
}

.card:hover{
  transform:
  translateY(-8px)
  scale(1.01);

  border:1px solid rgba(139,92,246,0.4);

  box-shadow:
  0 0 30px rgba(139,92,246,0.15);
}

.card-titulo{
  display:flex;
  align-items:center;
  gap:10px;
  color:#9ea6c3;
  font-size:15px;
  font-weight:500;
}

.card-titulo i{
  width:17px;
  height:17px;
  color:#b58cff;
}

.stat-card h2{
  margin-top:14px;
  font-size:42px;
}

.grafico-card{
  height:320px;
  margin-bottom:25px;
}

.grafico-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
}

.grafico{
  position:relative;
  height:220px;
  overflow:hidden;
}

.switch-grafico{
  display:flex;
  gap:12px;
}

.grafico-btn{
  background:rgba(255,255,255,.04);
  border:1px solid rgba(255,255,255,.08);
  color:#9ea6c3;
  padding:10px 18px;
  border-radius:40px;
  cursor:pointer;
  transition:.3s ease;
  font-size:15px;
}

.grafico-btn:hover{
  border-color:rgba(181,140,255,.35);
  color:white;
}

.grafico-btn.ativo{
  background:rgba(181,140,255,.15);
  color:#b58cff;
  border-color:rgba(181,140,255,.35);
  box-shadow:
  0 0 20px rgba(181,140,255,.15);
}

.grafico-select{
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.06);
  color: #fff;
  padding: 12px 18px;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: all .25s ease;
  min-width: 170px;
  height: 48px;
}

.grafico-select:hover{
  border-color: rgba(181,140,255,0.35);
  background: rgba(255,255,255,0.05);
}

.grafico-select:focus{
  border-color: #b58cff;
  box-shadow: 0 0 0 4px rgba(181,140,255,0.12);
}

.grafico-select option{
  background: #0f172f;
  color: white;
}


.mes-select{
  background: transparent;
  border: 1px solid rgba(255,255,255,.08);
  color: white;
  padding: 10px 14px;
  border-radius: 14px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}

.mes-select:hover{
  border-color: rgba(181,140,255,.5);
  background: rgba(255,255,255,.03);
}

.mes-select option{
  background: #0f172f;
  color: white;
}

.linha{
  position:absolute;
  width:100%;
  height:140px;
  bottom:40px;
  border-radius:100px;
  background:
  linear-gradient(
  to top,
  rgba(139,92,246,.02),
  rgba(139,92,246,.18));
  border-top:3px solid #8b5cf6;
  clip-path:polygon(
  0% 85%,
  10% 70%,
  20% 78%,
  30% 52%,
  40% 60%,
  50% 35%,
  60% 45%,
  70% 20%,
  80% 30%,
  90% 10%,
  100% 0%,
  100% 100%,
  0% 100%
  );
  animation:graficoAnimado 5s ease-in-out infinite;
}

.linha::before{
  content:"";
  position:absolute;
  inset:0;
  background:
  linear-gradient(
  90deg,
  transparent,
  rgba(255,255,255,.18),
  transparent);
  animation:brilhoGrafico 4s linear infinite;
}

.dias{
  position:absolute;
  bottom:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  color:#7f87a8;
}

.tasks-card{
  min-height:260px;
}

.tasks-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
}

.task{
  display:flex;
  align-items:center;
  gap:15px;
  margin-bottom:22px;
}

.task p{
  font-size:18px;
  color:#e4e8ff;
}

.completed p{
  text-decoration:line-through;
  opacity:.5;
}

.task input[type="checkbox"]{
  appearance:none;
  width:22px;
  height:22px;
  border-radius:50%;
  border:1.5px solid #b58cff;
  background:rgba(181,140,255,.06);
  cursor:pointer;
  position:relative;
}

.task input[type="checkbox"]:checked{
  background:
  linear-gradient(
  135deg,
  #b58cff,
  #8b5cf6);
}

.task input[type="checkbox"]:checked::before{
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  width:6px;
  height:10px;
  border:solid white;
  border-width:0 2px 2px 0;
  transform:
  translate(-50%,-60%)
  rotate(45deg);
}

.ai-popup{
  position:absolute;
  bottom:-20px;
  left:-20px;
  background:rgba(26,32,54,.55);
  border:1px solid rgba(255,255,255,.08);
  border-radius:24px;
  padding:18px 22px;
  display:flex;
  align-items:center;
  gap:15px;
  overflow:hidden;
  backdrop-filter:blur(18px);
  -webkit-backdrop-filter:blur(18px);
  box-shadow:
  0 0 30px rgba(139,92,246,.12),
  inset 0 1px 1px rgba(255,255,255,.06);
  animation:floatAI 4s ease-in-out infinite;
}

.ai-popup::before{
  content:"";
  position:absolute;
  inset:0;
  background:
  linear-gradient(
  120deg,
  transparent,
  rgba(255,255,255,.08),
  transparent);
  transform:translateX(-120%);
  animation:glassMove 5s linear infinite;
}

.ai-popup .icon{
  width:45px;
  height:45px;
  border-radius:50%;
  background:#8b5cf6;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:22px;
}

.trusted{
  text-align:center;
  margin-bottom:120px;
}

.trusted p{
  color:#8f93b2;
  letter-spacing:4px;
  font-size:14px;
  margin-bottom:50px;
}

.trusted-logos{
  display:flex;
  justify-content:center;
  gap:70px;
  flex-wrap:wrap;
}

.trusted-logos span{
  font-size:22px;
  font-weight:700;
  color:#7f859f;
  transition:.3s;
}

.trusted-logos span:hover{
  color:white;
  transform:translateY(-3px);
}

.features-section{
  padding:140px 0;
  background:transparent;
}

.features-header{
  text-align:center;
  max-width:900px;
  margin:0 auto 90px;
}

.features-header small{
  color:#b58cff;
  letter-spacing:3px;
  font-weight:700;
}

.features-header h2{
  font-size:72px;
  line-height:1.1;
  margin:25px 0;
  font-weight:800;
  letter-spacing:-3px;
}

.features-header p{
  font-size:28px;
  color:#9ea6c3;
  line-height:1.6;
}

.features-grid{
  width:92%;
  max-width:1400px;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:28px;
}

.feature-card{
  background:
  linear-gradient(
  135deg,
  rgba(18,24,45,.95),
  rgba(7,18,35,.95));
  border:1px solid rgba(255,255,255,.06);
  border-radius:35px;
  padding:50px;
  position:relative;
  overflow:hidden;
  transition:
  transform .45s ease,
  border .45s ease,
  box-shadow .45s ease;
}

.feature-card::before{
  content:"";
  position:absolute;
  inset:0;
  background:
  radial-gradient(
  circle at top right,
  rgba(181,140,255,.12),
  transparent 45%);
  opacity:0;
  transition:.5s;
}

.feature-card::after{
  content:"";
  position:absolute;
  top:-120px;
  right:-120px;
  width:260px;
  height:260px;
  border-radius:50%;
  background:
  radial-gradient(
  circle,
  rgba(181,140,255,.18),
  transparent 70%);
  opacity:0;
  transition:.4s ease;
  pointer-events:none;
}

.feature-card:hover::before{
  opacity:1;
}

.feature-card:hover::after{
  opacity:1;
}

.feature-card:hover{
  transform:
  translateY(-12px)
  scale(1.015);
  border:1px solid rgba(181,140,255,.25);
  box-shadow:
  0 0 40px rgba(139,92,246,.12);
}

.feature-icon{
  width:58px;
  height:58px;
  border-radius:20px;
  background:
  linear-gradient(
  135deg,
  rgba(181,140,255,.28),
  rgba(139,92,246,.18));
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:35px;
  border:1px solid rgba(255,255,255,.08);
  transition:.4s ease;
  box-shadow:
  0 0 0 rgba(181,140,255,0);
}

.feature-icon:hover{
  transform:
  translateY(-4px)
  scale(1.08);
  box-shadow:
  0 0 25px rgba(181,140,255,.45),
  0 0 60px rgba(139,92,246,.18);
}

.feature-icon i{
  width:26px;
  height:26px;
  color:#b58cff;
  transition:
  .4s ease;
}
.feature-icon:hover i{
  transform:scale(1.12);
  filter:
  drop-shadow(0 0 12px rgba(181,140,255,.8));
}

.feature-card h3{
  font-size:42px;
  margin-bottom:22px;
  font-weight:700;
}

.feature-card p{
  font-size:27px;
  line-height:1.7;
  color:#9ea6c3;
}

.analytics-section{
  padding:140px 0;
  background:transparent;
}

.analytics-header{
  text-align:center;
  margin-bottom:70px;
}

.analytics-header small{
  color:#b58cff;
  letter-spacing:4px;
  font-weight:700;
}

.analytics-header h2{
  font-size:72px;
  margin:25px 0;
}

.analytics-header p{
  color:#9ea6c3;
  font-size:28px;
}

.analytics-container{
  width:92%;
  max-width:1400px;
  margin:auto;
}

.metrics-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:25px;
  margin-bottom:30px;
}

.metric-card{
  background:#121a31;
  border:1px solid rgba(255,255,255,.06);
  border-radius:30px;
  padding:35px;
  transition:.4s ease;
}

.metric-card:hover{
  transform:translateY(-8px);
  border-color:rgba(181,140,255,.35);
  box-shadow:0 0 30px rgba(181,140,255,.12);
}

.metric-card i{
  color:#b58cff;
  width:24px;
  height:24px;
  stroke:#b58cff;
}

.metric-card svg{
  width:24px;
  height:24px;
  stroke:#b58cff !important;
  color:#b58cff !important;
}

.metric-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:20px 0 10px;
}

.metric-top h3{
  font-size:56px;
}

.metric-top span{
  color:#7dffca;
  font-size:16px;
  font-weight:600;
  background:rgba(255,255,255,.05);
  border:1px solid rgba(255,255,255,.08);
  backdrop-filter:blur(14px);
  -webkit-backdrop-filter:blur(14px);
  padding:10px 18px;
  border-radius:40px;
  box-shadow:
  inset 0 1px 1px rgba(255,255,255,.08),
  0 0 20px rgba(181,140,255,.08);
  position:relative;
  overflow:hidden;
}

.metric-top span::before{
  content:"";
  position:absolute;
  inset:0;
  background:
  linear-gradient(
  120deg,
  transparent,
  rgba(255,255,255,.15),
  transparent);
  transform:translateX(-120%);
  animation:glassShine 4s linear infinite;
}


.metric-card p{
  color:#98a0bd;
  font-size:22px;
}

.focus-card,
.insight-card,
.heatmap-card{
  background:#121a31;
  border:1px solid rgba(255,255,255,.06);
  border-radius:35px;
  padding:35px;
  margin-top:30px;
}

.focus-header{
  display:flex;
  justify-content:space-between;
  margin-bottom:50px;
}

.focus-header h3{
  font-size:38px;
}

.focus-header p{
  color:#98a0bd;
}

.focus-legenda{
  color:#98a0bd;
}

.card-metrica i{
  color:#b58cff;
  width:24px;
  height:24px;
  stroke:#b58cff;
}

.topo-metrica span{
  color:#7dffca;
  font-size:16px;
  font-weight:600;
  background:rgba(255,255,255,.04);
  border:1px solid rgba(255,255,255,.08);
  backdrop-filter:blur(12px);
  padding:8px 16px;
  border-radius:40px;
  box-shadow:
  inset 0 1px 1px rgba(255,255,255,.06),
  0 0 18px rgba(181,140,255,.08);
}

.nav-btn,
.primario-btn,
.cta-primario{
  text-decoration:none;
  color:inherit;
  display:flex;
  align-items:center;
  justify-content:center;
}

.focus-legenda span{
  width:12px;
  height:12px;
  border-radius:50%;
  display:inline-block;
  background:#2a324d;
  margin:0 8px 0 18px;
}

.focus-legenda .ativo{
  background:#b58cff;
}

.bars{
  display:flex;
  align-items:flex-end;
  gap:25px;
  height:300px;
}

.bar{
  flex:1;
  border-radius:20px 20px 0 0;
  background:
  linear-gradient(
  to top,
  #7c5cff,
  #b58cff);
  transform-origin:bottom;
  animation:
  subirBarra 1.2s cubic-bezier(.16,1,.3,1);
}
.bar.low{
  opacity:.35;
}

.week{
  display:flex;
  justify-content:space-between;
  margin-top:20px;
  color:#7f87a8;
}

.insight-title{
  display:flex;
  align-items:center;
  gap:15px;
  margin-bottom:30px;
}

.insight-icon{
  width:55px;
  height:55px;
  border-radius:50%;
  background:#a78bfa;
  display:flex;
  align-items:center;
  justify-content:center;
}

.insight-icon i{
  color:#111;
}

.insight-card p{
  color:#b6bdd6;
  font-size:28px;
  line-height:1.7;
}

.next-session{
  margin:35px 0;
  border:1px solid rgba(255,255,255,.06);
  border-radius:25px;
  padding:30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.next-session small{
  color:#8a92af;
}

.next-session h4{
  font-size:34px;
  margin-top:10px;
}

.next-session span{
  color:#c59cff;
  font-size:28px;
}

.insight-card a{
  color:#c59cff;
  text-decoration:none;
  font-size:24px;
}

.heatmap-header{
  display:flex;
  justify-content:space-between;
  margin-bottom:35px;
}

.heatmap-grid{
  display:grid;
  grid-template-columns:repeat(7,1fr);
  gap:15px;
}

.heat{
  height:130px;
  border-radius:20px;
  background:#1d263b;
  transition:.4s ease;
}

.heat.low{
  background:#3d4474;
}

.heat.medium{
  background:#565d9b;
}

.heat.active{
  background:#a78bfa;
}

.heat:hover{
  transform:scale(1.05);
}

.reveal{
  opacity:0;
  transform:translateY(50px);
  transition:1s ease;
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
}

.faq-section{
  position:relative;
  padding:180px 0;
  overflow:hidden;
  background:transparent;
}

.faq-section::before{
  content:"";
  position:absolute;
  top:-250px;
  left:50%;
  transform:translateX(-50%);
  width:900px;
  height:900px;
  background:
  radial-gradient(
    circle,
    rgba(143,92,255,.18),
    transparent 65%
  );
  filter:blur(60px);
  z-index:0;
}

.faq-section::after{
  content:"";
  position:absolute;
  inset:0;
  background:
  linear-gradient(
    90deg,
    rgba(255,255,255,.015) 1px,
    transparent 1px
  ),
  linear-gradient(
    rgba(255,255,255,.015) 1px,
    transparent 1px
  );
  background-size:60px 60px;
  mask-image:
  radial-gradient(
    circle at center,
    black,
    transparent 80%
  );
  pointer-events:none;
}

.faq-header{
  position:relative;
  z-index:2;
  text-align:center;
  margin-bottom:80px;
  opacity:1;
  transform:translateY(0);
  transition:.6s ease;
}

.faq-header small{
  color:#b58cff;
  letter-spacing:5px;
  font-size:.85rem;
  font-weight:700;
}

.faq-header h2{
  margin-top:20px;
  font-size:5rem;
  font-weight:800;
  color:white;
  letter-spacing:-3px;
}

.faq-container{
  position:relative;
  z-index:2;
  width:min(1000px,90%);
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:22px;
}

.faq-item{
  background:
  linear-gradient(
    135deg,
    rgba(20,30,70,.55),
    rgba(5,15,35,.75)
  );
  border:1px solid rgba(181,140,255,.12);
  border-radius:30px;
  padding:30px 34px;
  backdrop-filter:blur(18px);
  opacity:1;
  transform:translateY(0);
  transition:
  .35s ease;
}

.faq-item.open{
  opacity:1;
  transform:translateY(0);
}

.faq-item:hover{
  transform:
  translateY(-4px)
  scale(1.01);
  border:1px solid rgba(181,140,255,.35);
  box-shadow:
  0 0 35px rgba(181,140,255,.12);
}

.faq-question{
  display:flex;
  align-items:center;
  justify-content:space-between;
  cursor:pointer;
}

.faq-question h3{
  color:white;
  font-size:1.45rem;
  font-weight:700;
}

.faq-btn{
  width:48px;
  height:48px;
  border-radius:50%;
  border:1px solid rgba(255,255,255,.08);
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-size:1.6rem;
  transition:.4s ease;
  background:rgba(255,255,255,.03);
  box-shadow:inset 0 1px 1px rgba(255,255,255,.05);
  cursor:pointer;
}

.faq-item:hover .faq-btn{
  border-color:rgba(181,140,255,.4);
  box-shadow:0 0 20px rgba(181,140,255,.2);
}

.faq-item.open .faq-btn{
  transform:rotate(180deg);
  background:linear-gradient(
    135deg,
    #a78bfa,
    #7c5cff
  );
  color:#111;
  box-shadow:0 0 30px rgba(181,140,255,.45);
}
.faq-answer{
  max-height:0;
  overflow:hidden;
  opacity:0;
  transition:
  max-height .5s ease,
  opacity .4s ease;
}

.faq-item.open .faq-answer{
  opacity:1;
}

.faq-answer p{
  padding-top:24px;
  font-size:1.05rem;
}

.final-section{
  position:relative;
  width:100%;
  padding:140px 0 50px;
  overflow:hidden;
}

.cta-card{
  position:relative;
  width:92%;
  max-width:1400px;
  margin:auto;
  padding:120px 40px;
  border-radius:40px;
  background:
  linear-gradient(
    135deg,
    rgba(20,30,70,.75),
    rgba(5,15,35,.9)
  );
  border:1px solid rgba(255,255,255,.08);
  backdrop-filter:blur(20px);
  overflow:hidden;
  text-align:center;
}

.cta-card::before{
  content:"";
  position:absolute;
  inset:0;
  background:
  radial-gradient(
    circle at center,
    rgba(181,140,255,.18),
    transparent 70%
  );
  pointer-events:none;
}

.grid-bg{
  position:absolute;
  inset:0;
  background-image:
  linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.03) 1px, transparent 1px);
  background-size:60px 60px;
  mask-image:
  radial-gradient(circle at center, black 30%, transparent 85%);
}

.cta-card{
  position:relative;
  width:92%;
  max-width:1400px;
  margin:auto;
  padding:120px 40px;
  border-radius:40px;
  background:
  linear-gradient(
    135deg,
    rgba(20,30,70,.38),
    rgba(5,15,35,.28)
  );
  border:1px solid rgba(255,255,255,.08);
  backdrop-filter:blur(24px);
  -webkit-backdrop-filter:blur(24px);
  overflow:hidden;
  text-align:center;
  box-shadow:
  0 0 60px rgba(0,0,0,.18),
  inset 0 1px 1px rgba(255,255,255,.05);
}

.cta-card h2{
  position:relative;
  z-index:2;
  font-size:4.5rem;
  line-height:1.1;
  font-weight:800;
  letter-spacing:-3px;
  max-width:900px;
  margin:auto;
}

.cta-card h2 span{
  color:#b58cff;
}

.cta-card p{
  position:relative;
  z-index:2;
  margin-top:35px;
  font-size:1.5rem;
  line-height:1.8;
  color:#9ea6c3;
}

.cta-buttons{
  position:relative;
  z-index:2;
  margin-top:50px;
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.cta-primario,
.cta-secundario{
  height:72px;
  padding:0 34px;
  border:none;
  border-radius:999px;
  font-size:1.2rem;
  font-weight:700;
  cursor:pointer;
  transition:.35s ease;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:12px;
}

.cta-primario{
  background:#b58cff;
  color:#111;

  box-shadow:
  0 0 35px rgba(181,140,255,.25);
}

.cta-primario:hover{
  transform:translateY(-4px);

  box-shadow:
  0 0 50px rgba(181,140,255,.45);
}

.cta-secundario{
  background:rgba(255,255,255,.04);
  color:white;
  border:1px solid rgba(255,255,255,.08);
}
.cta-secundario:hover{
  background:rgba(255,255,255,.08);
}

.cta-card small{
  position:relative;
  z-index:2;
  display:block;
  margin-top:35px;
  color:#7f87a8;
  font-size:1rem;
}

.footer{
  width:100%;
  border-top:1px solid rgba(255,255,255,0.08);
  margin-top:60px;
  padding:24px 40px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:20px;
  flex-wrap:wrap;
}

.footer-logo{
  display:flex;
  align-items:center;
  gap:14px;
  font-size:2rem;
  font-weight:700;
}

.footer-logo span{
  color:#b58cff;
}

.footer-icon{
  width:48px;
  height:48px;
  border-radius:50%;
  background:#a78bfa;
  display:flex;
  align-items:center;
  justify-content:center;
}

.footer-links{
  display:flex;
  gap:40px;
}

.footer-links a{
  color:#8f97b2;
  text-decoration:none;
  transition:.3s ease;
}

.footer-links a:hover{
  color:white;
}

.footer-copy{
  color:#7f87a8;
}



@keyframes subirBarra{
  0%{
    transform:scaleY(0);
    opacity:0;
  }

  100%{
    transform:scaleY(1);
    opacity:1;
  }
}

@keyframes glassMove{
  100%{
    transform:translateX(120%);
  }
}

@keyframes glassShine{
  100%{
    transform:translateX(120%);
  }
}

@keyframes floatAI{
  0%{
    transform:translateY(0);
  }

  50%{
    transform:translateY(-10px);
  }

  100%{
    transform:translateY(0);
  }
}

@keyframes aparecerFrase{
  from{
    opacity:0;
    transform:translateY(20px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}

@keyframes glowTexto{
  0%{
    text-shadow:0 0 0 rgba(181,140,255,0);
  }

  50%{
    text-shadow:0 0 18px rgba(181,140,255,.35);
  }

  100%{
    text-shadow:0 0 0 rgba(181,140,255,0);
  }
}
@keyframes brilhoGrafico{
  0%{
    transform:translateX(-100%);
  }

  100%{
    transform:translateX(100%);
  }
}

@keyframes graficoAnimado{
  0%{
    clip-path:polygon(
    0% 85%,
    10% 70%,
    20% 78%,
    30% 52%,
    40% 60%,
    50% 35%,
    60% 45%,
    70% 20%,
    80% 30%,
    90% 10%,
    100% 0%,
    100% 100%,
    0% 100%
    );
  }

  50%{
    clip-path:polygon(
    0% 75%,
    10% 60%,
    20% 68%,
    30% 42%,
    40% 52%,
    50% 25%,
    60% 35%,
    70% 10%,
    80% 22%,
    90% 5%,
    100% 15%,
    100% 100%,
    0% 100%
    );
  }

  100%{
    clip-path:polygon(
    0% 85%,
    10% 70%,
    20% 78%,
    30% 52%,
    40% 60%,
    50% 35%,
    60% 45%,
    70% 20%,
    80% 30%,
    90% 10%,
    100% 0%,
    100% 100%,
    0% 100%
    );
  }
}



@media (max-width: 1200px){

  .hero h1{
    font-size:64px;
  }

  .descricao{
    font-size:26px;
  }

  .features-header h2,
  .analytics-header h2,
  .faq-header h2,
  .cta-card h2{
    font-size:56px;
  }

  .feature-card h3{
    font-size:34px;
  }

  .feature-card p,
  .analytics-header p,
  .features-header p{
    font-size:22px;
  }

}


@media (max-width: 992px){

  .menu{
    display:none;
  }

  .hero{
    padding:90px 0 60px;
  }

  .hero h1{
    font-size:52px;
    line-height:1.1;
    letter-spacing:-2px;
  }

  .descricao{
    font-size:22px;
    line-height:1.5;
  }

  .stats{
    gap:40px;
  }

  .stats-grid,
  .metrics-grid,
  .features-grid{
    grid-template-columns:1fr;
  }

  .top-bar{
    grid-template-columns:1fr;
    gap:20px;
    text-align:center;
  }

  .url,
  .sequencia{
    justify-self:center;
  }

  .focus-header,
  .grafico-header,
  .heatmap-header,
  .tasks-header,
  .next-session{
    flex-direction:column;
    align-items:flex-start;
    gap:20px;
  }

  .cta-card{
    padding:80px 30px;
  }

  .cta-card h2{
    font-size:52px;
  }

}


@media (max-width: 767px){

  body{
    overflow-x:hidden;
  }

  .container{
    width:92%;
  }

  nav{
    padding:10px 14px;
    border-radius:22px;
    overflow:hidden;
  }

  .nav-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:10px;
  }

  .menu{
    display:none;
  }

  .logo{
    display:flex;
    align-items:center;
    gap:8px;
    font-size:16px;
    min-width:0;
  }

  .logo h2{
    font-size:16px;
    white-space:nowrap;
  }

  .logo-icon{
    width:34px;
    height:34px;
    flex-shrink:0;
  }

  .nav-btn{
    padding:10px 14px;
    font-size:13px;
    white-space:nowrap;
    flex-shrink:0;
  }

  .hero{
    padding:70px 0 50px;
  }

  .hero h1{
    font-size:42px;
    line-height:1.1;
    letter-spacing:-1px;
    max-width:100%;
    overflow-wrap:break-word;
    word-break:break-word;
  }

  #typing-word{
    white-space:normal;
    word-break:break-word;
  }

  .descricao{
    font-size:18px;
    line-height:1.7;
    padding:0 4px;
  }

  .buttons{
    flex-direction:column;
    align-items:center;
  }

  .primario-btn,
  .secundario-btn{
    width:100%;
    max-width:260px;
    font-size:18px;
    padding:18px 22px;
  }

  .stats-grid,
  .metrics-grid,
  .features-grid{
    grid-template-columns:1fr;
  }

  .grafico-card,
  .focus-card,
  .insight-card,
  .heatmap-card{
    padding:22px;
    overflow:hidden;
  }

  .grafico{
    height:180px;
    overflow:hidden;
  }

  .linha{
    height:100px;
    bottom:28px;
  }

  .dias{
    font-size:11px;
  }

  .heatmap-grid{
    grid-template-columns:repeat(2,1fr);
    gap:10px;
  }

  .heat{
    width:100%;
    height:60px;
    border-radius:16px;
  }

  .faq-item{
    padding:22px;
  }

  .faq-question{
    gap:14px;
    align-items:center;
  }

  .faq-question h3{
    font-size:16px;
    line-height:1.4;
    flex:1;
  }

  .faq-btn{
    width:48px;
    height:48px;
    min-width:48px;
    min-height:48px;
    border-radius:50%;
    flex-shrink:0;
  }

  .features-header h2,
  .analytics-header h2,
  .faq-header h2,
  .cta-card h2{
    font-size:42px;
    line-height:1.1;
  }

  .features-header p,
  .analytics-header p,
  .cta-card p,
  .feature-card p,
  .insight-card p{
    font-size:18px;
  }

  .footer{
    flex-direction:column;
    text-align:center;
  }

  .footer-links{
    flex-wrap:wrap;
    justify-content:center;
  }
}
